@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

:root {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100;
}

body {
  font-family:
    'Source Sans Pro',
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
