@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@layer base {
  :root {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100;

    /* for rank list graph */
    --color-graph-axis: var(--color-base-content);

    @supports (color: color-mix(in lab, red, red)) {
      --color-graph-axis: color-mix(in oklab, var(--color-base-content) 25%, transparent);
    }
  }

  body {
    font-family:
      'Source Sans Pro',
      -apple-system,
      system-ui,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
  }

  ul,
  ol {
    padding-left: 1rem;
  }
  ol > li {
    list-style-type: decimal;
  }
  ul > li {
    list-style-type: disc;
  }

  a {
    color: var(--color-info);
    text-decoration: none;
    cursor: pointer;
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: underline;

      @supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, var(--color-info) 80%, #000);
      }
    }
  }
}

@layer components {
  .round-container {
    @apply border border-solid border-base-300;
  }
  .round-block {
    @apply p-5;
  }
  .round-block-title {
    @apply text-4xl;
  }

  .tutorial-main {
    .collapse {
      @apply border border-base-300 bg-base-100;

      &:not(.collapse-close)
        > :where(input:is([type='checkbox'], [type='radio'])):checked
        ~ .collapse-content {
        @apply p-4;
      }
    }
    .collapse-title {
      @apply bg-base-200 text-xl;
    }
  }
  /* TODO: might be deprecated */
  .page-item {
    @apply btn btn-outline btn-sm btn-primary;
  }

  .table-base {
    @apply w-full table-fixed border-separate border-spacing-0 **:text-base **:[th,td]:border **:[tr,th,td]:border-base-content/25;
  }

  table.custom-responsive-table-md {
    @apply max-md:border-collapse;

    &,
    thead,
    tbody,
    tr,
    td {
      @apply max-md:block;
    }

    thead tr {
      @apply max-md:hidden;
    }

    tr {
      @apply max-md:border-2;

      &.default-content {
        @apply max-md:border-none;

        td {
          @apply text-center max-md:border;
        }
      }
    }

    td {
      @apply min-h-8 max-md:relative max-md:whitespace-normal;

      &:last-child {
        @apply max-md:border-b-0;
      }

      &::before {
        @apply pb-[1rem] max-md:absolute max-md:left-1 max-md:text-left max-md:font-bold max-md:whitespace-nowrap max-md:content-[attr(data-title)];
      }
    }
  }

  .markdown-container {
    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.15rem;
    }
    h4,
    h5,
    h6 {
      font-size: 1rem;
    }
    blockquote {
      font-weight: bold;
      font-style: italic;
      margin-left: 1rem;
      border-left: 2px solid #999;
      padding-left: 1rem;
    }
    pre {
      @apply break-words;
    }
    table {
      margin-bottom: 0.5em;

      th,
      td {
        border: 1px solid;
        padding: 0.25em;
      }
    }
    ul,
    ol {
      padding-left: 2rem;
    }
  }

  .violation-case-detail-block {
    > p {
      @apply mb-1 text-2xl font-medium;
    }
  }

  .violation-case-action-reason {
    border-radius: 1rem;
    border-top-left-radius: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;

    p:last-child {
      /* should be put after .markdown-container */
      margin-bottom: 0;
    }
  }

  .sticky-control {
    @apply sticky top-0 z-10 bg-base-100;
  }

  .account-card-default {
    background: #fff;
  }
  .account-card-super-admin {
    background: #a80000;
    background: -webkit-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: -o-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: -moz-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: linear-gradient(160deg, #fffbd5, #a80000 100%);
  }
  .account-card-general-manager {
    background: #a80000;
    background: -webkit-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: -o-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: -moz-linear-gradient(160deg, #fffbd5, #a80000 100%);
    background: linear-gradient(160deg, #fffbd5, #a80000 100%);
  }
  .account-card-developer {
    background: #39c5bb;
    background: -webkit-linear-gradient(160deg, #fffbd5, #39c5bb 120%);
    background: -o-linear-gradient(160deg, #fffbd5, #39c5bb 120%);
    background: -moz-linear-gradient(160deg, #fffbd5, #39c5bb 120%);
    background: linear-gradient(160deg, #fffbd5, #39c5bb 120%);
  }
  .account-card-planner {
    background: #ff1493;
    background: -webkit-linear-gradient(160deg, #fffbd5, #ff1493 100%);
    background: -o-linear-gradient(160deg, #fffbd5, #ff1493 100%);
    background: -moz-linear-gradient(160deg, #fffbd5, #ff1493 100%);
    background: linear-gradient(160deg, #fffbd5, #ff1493 100%);
  }
  .account-card-fsc {
    background: #f1c40f;
    background: -webkit-linear-gradient(160deg, #fffbd5, #f1c40f 100%);
    background: -o-linear-gradient(160deg, #fffbd5, #f1c40f 100%);
    background: -moz-linear-gradient(160deg, #fffbd5, #f1c40f 100%);
    background: linear-gradient(160deg, #fffbd5, #f1c40f 100%);
  }

  .account-detail {
    @apply mt-4 flex w-full flex-col *:overflow-y-hidden *:border *:border-base-content/25;

    & > div {
      @apply flex max-h-80 flex-col gap-y-2 p-2 md:p-4;
    }
  }

  .company-card {
    .title {
      background: #000; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        left,
        transparent,
        #000 5%,
        #000 95%,
        transparent
      ); /* Safari */
      background: -o-linear-gradient(
        left,
        transparent,
        #000 5%,
        #000 95%,
        transparent
      ); /* Opera 11.6 to 12.0 */
      background: -moz-linear-gradient(
        left,
        transparent,
        #000 5%,
        #000 95%,
        transparent
      ); /* Firefox 3.6 to 15 */
      background: linear-gradient(
        left,
        transparent,
        #000 5%,
        #000 95%,
        transparent
      ); /* Standard syntax */
    }
  }

  .company-card-default {
    @apply bg-white dark:bg-[rgb(0,43,54)];
  }
  .company-card-chairman {
    background: #f8b500;
    background: -webkit-linear-gradient(135deg, #fceabb, #f8b500);
    background: -o-linear-gradient(135deg, #fceabb, #f8b500);
    background: -moz-linear-gradient(135deg, #fceabb, #f8b500);
    background: linear-gradient(135deg, #fceabb, #f8b500);
  }
  .company-card-manager {
    background: #b20a2c;
    background: -webkit-linear-gradient(225deg, #fffbd5, #b20a2c);
    background: -o-linear-gradient(225deg, #fffbd5, #b20a2c);
    background: -moz-linear-gradient(225deg, #fffbd5, #b20a2c);
    background: linear-gradient(225deg, #fffbd5, #b20a2c);
  }
  .company-card-founder {
    background: #39c5bb;
    background: -webkit-linear-gradient(225deg, #fffbd5, #39c5bb);
    background: -o-linear-gradient(225deg, #fffbd5, #39c5bb);
    background: -moz-linear-gradient(225deg, #fffbd5, #39c5bb);
    background: linear-gradient(225deg, #fffbd5, #39c5bb);
  }
  .company-card-holder {
    background: #8e9eab;
    background: -webkit-linear-gradient(135deg, #eef2f3, #8e9eab);
    background: -o-linear-gradient(135deg, #eef2f3, #8e9eab);
    background: -moz-linear-gradient(135deg, #eef2f3, #8e9eab);
    background: linear-gradient(135deg, #eef2f3, #8e9eab);
  }

  .company-row {
    @apply gap-[1px] bg-base-content/25;

    & > * {
      @apply bg-base-100 px-4;
    }

    .title {
      @apply col-span-1 text-right;
    }
    .content {
      @apply col-span-2 text-right lg:col-span-1;
    }
  }

  .company-detail {
    @apply -mx-4 border border-base-content/25 *:border-base-content/25 *:not-last:border-b;

    & > div {
      @apply flex flex-col gap-y-2 p-2 md:p-4;
    }
  }

  .company-panel-table {
    @apply -mx-2 overflow-y-auto border-base-content/25 *:border-dashed *:border-inherit max-md:*:not-last:border-b md:-mx-4;

    .header {
      @apply hidden grid-cols-12 text-center text-nowrap md:grid;
    }
  }

  .company-market-data-panel {
    @apply -mx-2 -mb-2 grid grid-cols-12 gap-[1px] bg-base-content/25 pt-[1px] md:-mx-4 md:-mb-4;

    & > div {
      @apply flex flex-col items-center justify-between bg-base-100;

      & > p {
        @apply text-nowrap;
      }
    }
  }

  .company-profit-distribution-panel {
    @apply grid grid-cols-12;

    & > div {
      @apply flex flex-col items-center justify-between;

      & > p {
        @apply text-nowrap;
      }
    }
  }

  .company-order-book-panel {
    @apply -mx-2 -mb-2 grid grid-cols-2 gap-[1px] bg-base-content/25 pt-[1px] *:bg-base-100 md:-mx-4 md:-mb-4;

    & > div {
      @apply col-span-full flex flex-col items-center justify-between p-2 md:col-span-1;
    }
  }

  .vip-level-5 {
    background-color: rgba(255, 175, 175, 0.5);
    color: black;
    font-weight: bold;

    @apply dark:bg-[rgba(192,96,96,0.5)] dark:text-white;

    a {
      color: rgb(2, 117, 215);

      @apply dark:text-yellow-300;
    }
  }

  .range-slider {
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background: var(--color-neutral-content);
    border-radius: 4px;
  }
  .range-slider .range-slider__thumb {
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--color-primary);
  }
  .range-slider .range-slider__thumb:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5);
  }
  .range-slider .range-slider__range {
    position: absolute;
    z-index: 1;
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
  }
  .range-slider input[type='range'] {
    -webkit-appearance: none;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .range-slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }
  .range-slider input[type='range']::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
  }
  .range-slider input[type='range']:focus {
    outline: 0;
  }

  span.katex {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
  }

  .homepage {
    .period-title {
      @apply py-2 text-center text-xl text-base-content;
    }

    .media-item {
      @apply relative block rounded-md border-8 border-solid;
    }

    .media-item > .item-title {
      @apply absolute top-0 right-0 rounded-bl-xl bg-base-300/75 p-1 pl-3 text-lg font-bold text-base-content lg:text-2xl;
    }

    .media-item > video {
      @apply w-full;
    }

    .media-item .loading-effect {
      width: 200px;
      height: 60px;

      @apply absolute top-1/2 left-1/2 block -translate-x-1/2 -translate-y-1/2;
    }

    .loading-effect > .circle {
      left: 15%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform-origin: 50%;

      @apply absolute animate-circle-bumping bg-white;
    }

    .loading-effect > .circle:nth-child(2) {
      left: 45%;
      animation-delay: 0.2s;
    }

    .loading-effect > .circle:nth-child(3) {
      right: 15%;
      animation-delay: 0.3s;

      @apply left-auto;
    }

    .loading-effect > .shadow {
      width: 20px;
      height: 4px;
      border-radius: 50%;
      top: 62px;
      left: 15%;
      transform-origin: 50%;
      z-index: -1;
      transform: blur(1px);

      @apply absolute animate-shadow-transform bg-black opacity-50;
    }

    .loading-effect > .shadow:nth-child(4) {
      left: 45%;
      animation-delay: 0.2s;
    }

    .loading-effect > .shadow:nth-child(5) {
      right: 15%;
      animation-delay: 0.3s;

      @apply left-auto;
    }

    .loading-effect > .text {
      top: 75px;
      left: 15%;
      letter-spacing: 12px;

      @apply absolute text-xl text-white text-shadow-gray-800 text-shadow-md;
    }
  }
}

@layer utilities {
  .table-base {
    @apply **:[th,td]:py-1;
  }

  table.custom-responsive-table-md {
    td {
      @apply max-md:pl-[35%];
    }

    tr {
      &.default-content {
        td {
          @apply max-md:px-0;
        }
      }
    }
  }

  .legacy-announcement {
    .text-danger {
      @apply text-error;
    }
    .btn-danger {
      @apply btn-error;
    }
    .btn-outline-primary {
      @apply btn-outline btn-primary;
    }
    .btn-secondary {
      @apply btn-outline;
    }
    .btn-outline-danger {
      @apply btn-outline btn-error;
    }
    .btn-outline-warning {
      @apply btn-outline btn-warning;
    }
    .btn-outline-success {
      @apply btn-outline btn-success;
    }
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --animate-circle-bumping: circle-bumping 0.5s alternate infinite ease;
  --animate-shadow-transform: shadow-transform 0.5s alternate infinite ease;

  @keyframes circle-bumping {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scale(1.7);
    }
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scale(1);
    }
    100% {
      top: 0%;
    }
  }

  @keyframes shadow-transform {
    0% {
      transform: scale(1.5);
    }
    40% {
      transform: scale(1.5);
      opacity: 0.7;
    }
    100% {
      transform: scale(0.2);
      opacity: 0.4;
    }
  }
}
